<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllGram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>844CAF0526C3D3C70058F072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844CAF1626C3D3CB0058F072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844CAF2126C3D3CB0058F072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
